Repository programmer-ground/ProgrammerGround, pull requests merged in 2021-07, with the labels that each got.

#95 Github Bot 레포 생성 및 콜라보레이터 추가 구현
  Backend/src/main/java/com/pg/programmerground/config/GithubBotConfig.java
  Backend/src/main/java/com/pg/programmerground/controller/PlaygroundController.java
  Backend/src/main/java/com/pg/programmerground/dto/playground/api_req/PlaygroundBotApi.java
  Backend/src/main/java/com/pg/programmerground/service/PlaygroundService.java
  Backend/src/main/java/com/pg/programmerground/util/GithubHttpUtil.java
  Backend/src/main/resources/application.yml
  Backend/src/main/resources/json/playground.json
  Backend/src/test/java/com/pg/programmerground/TestUserManagement.java
  Backend/src/test/java/com/pg/programmerground/config/GithubBotConfigTest.java
  Backend/src/test/java/com/pg/programmerground/playground/PlayGroundBotTest.java
Labels: Backend, feature

#99 api 무한 스크롤 구현
  Frontend/src/Global.tsx
  Frontend/src/components/Common/modal/onePlaygroundModal/index.tsx
  Frontend/src/components/Common/modal/onePlaygroundModal/style.ts
  Frontend/src/components/playgroundContent/index.tsx
  Frontend/src/data/playground.ts
  Frontend/src/lib/axios/playground.ts
  Frontend/src/pages/CreatePage/index.tsx
  Frontend/src/pages/CreatePage/style.ts
  Frontend/src/pages/PlayGroundPage/index.tsx
  Frontend/src/store/modules/createPosition.ts
  Frontend/src/store/modules/index.ts
  Frontend/src/store/modules/modal.ts
  Frontend/src/store/modules/playground.ts
  Frontend/src/utils/throttle.ts
Labels: Frontend, feature

#101 7월 12일 ~ 7월 18일 작업 내용 (이미지 스프라이트 자동화 로직, header layout 변경, create ui validator)
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.tsx
  Frontend/src/Global.tsx
  Frontend/src/assets/sprite.png
  Frontend/src/assets/sprite.scss
  Frontend/src/components/header/headerImage.scss
  Frontend/src/components/header/index.tsx
  Frontend/src/components/header/style.ts
  Frontend/src/components/playgroundContent/index.tsx
  Frontend/src/components/playgroundContent/style.ts
  Frontend/src/components/searchBar/style.ts
  Frontend/src/pages/CreatePage/index.tsx
  Frontend/src/pages/CreatePage/style.ts
  Frontend/src/pages/PlayGroundPage/index.tsx
  Frontend/src/pages/PlayGroundPage/style.ts
  Frontend/src/pages/PlaygroundIdPage/index.tsx
  Frontend/src/pages/PlaygroundIdPage/style.ts
  Frontend/src/root.css
  Frontend/src/store/modules/createPosition.ts
  Frontend/webpack.config.js
Labels: Bugs, Frontend, Improvement, feature
