Repository programmer-ground/ProgrammerGround, pull requests merged in 2021-08, with the labels that each got.

#104 #103 - 최신 그래들 호환 문제
  Backend/build.gradle
Labels: Environment

#111 스프링 부트 버전 업데이트 및 Application Profile 설정 수정
  Authentication/build.gradle
  Authentication/src/main/resources/application.yml
  Backend/build.gradle
  Backend/src/main/resources/application.yml
Labels: Environment

#113 개인 정보 모달 생성 + 로그아웃 기능
  .gitignore
  Frontend/src/assets/sprite.png
  Frontend/src/assets/sprite.scss
  Frontend/src/components/header/headerImage.scss
  Frontend/src/components/header/index.tsx
  Frontend/src/components/header/style.ts
Labels: Frontend, feature

#114 프로필 가져오기 구현
  Frontend/src/App.tsx
  Frontend/src/Global.tsx
  Frontend/src/components/header/index.tsx
  Frontend/src/components/header/style.ts
  Frontend/src/lib/axios/playground.ts
  Frontend/src/pages/PlayGroundPage/index.tsx
  Frontend/src/pages/PlayGroundPage/style.ts
  Frontend/src/pages/ProfilePage/index.tsx
  Frontend/src/pages/ProfilePage/style.ts
Labels: Frontend, feature

#119 플레이 그라운드 생성자와 현재 로그인한 유저의 아이디가 같을 경우 playground ui 구현, button 영역 수정, description 초기화 값 ''으로 설정
  Frontend/src/components/header/headerImage.scss
  Frontend/src/components/header/index.tsx
  Frontend/src/components/header/style.ts
  Frontend/src/components/otherUI/index.tsx
  Frontend/src/components/otherUI/style.ts
  Frontend/src/components/playgroundContent/index.tsx
  Frontend/src/components/sameUI/index.tsx
  Frontend/src/components/sameUI/style.ts
  Frontend/src/lib/axios/playground.ts
  Frontend/src/pages/CreatePage/index.tsx
  Frontend/src/pages/PlayGroundPage/index.tsx
  Frontend/src/pages/PlaygroundIdPage/index.tsx
Labels: Frontend

#121 fix : 깃 허브 레포 생성 문제 수정
  Backend/src/main/java/com/pg/programmerground/controller/PlaygroundController.java
  Backend/src/main/java/com/pg/programmerground/service/PlaygroundService.java
  Backend/src/main/java/com/pg/programmerground/vo/GithubRepoVo.java
  Backend/src/main/resources/application.yml
Labels: Backend

#123 #122 방 생성 유저와 접속 유저의 아이디가 다를 때 playground 방 접속 ui 생성
  Frontend/src/components/otherUI/index.tsx
  Frontend/src/components/otherUI/style.ts
  Frontend/src/pages/PlaygroundIdPage/index.tsx
Labels: Frontend

#126 #125
  Frontend/src/assets/sprite.png
  Frontend/src/assets/sprite.scss
  Frontend/src/components/header/headerImage.scss
  Frontend/src/components/header/index.tsx
  Frontend/src/components/header/style.ts
Labels: Frontend
